body {
  margin: 0;
  font-family: sans-serif;
  background: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.pswp-gallery a img {
  max-width: 100px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 8px;
}
